@media (min-width: 800px)
{
    main
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .spotlight_3
    {
        display: block;
    }

    .event
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .weather
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join
    {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .hero_div
    {
        height: 100%;
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .news
    {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .spotlight_div
    {
        flex-direction: column;
        grid-column: 4/5;
        grid-row: 1/4;
        padding: 10px 10px;
    }

    .hero_button
    {
        display: block;
    }

    /* discover page starts here */

    .discover_image
    {
        filter: grayscale(100%);
        transition: all 2s ease;
    }

    .discover_image:hover
    {
        box-shadow: 5px 5px #59585F;
        filter: grayscale(0%);
        transition: 2s ease;
    }

/* directory page starts here */

/* div cards, section, h2, p, p, img, a */

    .cards
    {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .list_form
    {
        display: block;
    }

    .button_holder
{
    grid-column: 1/5;
}

}