body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgrey;
}

main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

h1 h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub
{
    color: white;
    background-color: #1B4571;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: center;
}

img
{
    width: 60%;
    border-radius: 10px;
}

nav
{
    background-color: #59585F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

a
{
    padding: 3px 0;
    color: white;
}

button
{
    font-size: 23px;
    display: none;
    color: white;
    background-color: #59585F;
    border: solid 1px black;
}

button:hover
{
    background-color: #1B4571;
}

.button_div
{
    background-color: #59585F;
}

.gone
{
    display: none;
}

.section
{
    border: dashed 2px black;
    width: 100%;
    height: 250px;
    background-color: grey;
    margin: 0px;
}

.spotlight_div
{
    background-color: #59585F;  
}

.join
{
    display: none;
}

.spotlight_3
{
    display: none;
}

.map_link
{
    grid-column: 2/3;
    grid-row: 2/4;
}

a:hover
{
    background-color: #d3d3d3;
    color: #000000;
}

.hero_div
{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.hero_img
{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 2px dashed black;
}

.hero
{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: transparent;
    border: none;
}

.hero_button
{
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.pop_up
{
    margin: 5px 0;
    border: solid 2px black;
    background-color: #1B4571;
    color: white;
}

.pop_up_vanish
{
    display: none;
}

@media (max-width: 1000px)
{
    nav
    {
        flex-direction: column;
    }

    .vanish
    {
        display: none;
    }

    button
    {
        display: block;
    }
}