.cards {
    display: grid;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h2, h1 {
    color: navy;
    text-align: center;
}
img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
}

@media (min-width: 650px)
{
    .cards
    {
        grid-template-columns: 1fr 1fr;
        padding-left: 200px;
        padding-right: 20%;
    }
}

@media (min-width: 800px)
{
    .cards
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 550px;
        padding-right: 25%;
    }
}