body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgrey;
}

footer
{
    margin-top: 5%;
}

h1 h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img
{
    width: 60%;
    border-radius: 10px;
}

.primary
{
    margin: 0 0;
    background-color: white;
    border: 3px solid black;
}

.accent1
{
    margin: 0 0;
    background-color: #1B4571;
    border: 3px solid black;
}

.accent2
{
    margin: 0 0;
    background-color: #59585F;
    border: 3px solid black;
}

.accent3
{
    margin: 0 0;
    background-color: #59585F;
    border: solid 3px black;
}

.color_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.head_color
{
    margin: 0 0;
}

.sub
{
    color: white;
    background-color: #1B4571;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: center;
}

nav
{
    background-color: #59585F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

a
{
    padding: 3px 0;
    color: white;
}

h1
{
    background-color: #59585F;
    margin: 0 auto;
    color: white;
}

.persona_img
{
    width: 20%;
}

button
{
    font-size: 23px;
    display: none;
    color: white;
    background-color: #59585F;
    border: solid 1px black;
}

.button_div
{
    background-color: #59585F;
}

@media (max-width: 580px)
{
    nav
    {
        flex-direction: column;
    }

    .vanish
    {
        display: none;
    }

    button
    {
        display: block;
    }
}