/* #hamburger
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 10px;
}

h1
{
    border: 2px solid black;
} */

h1{
    border: 1px solid black;
    box-shadow: 3px 3px #9C9E9D;
}